body{
    background-color: #212529;
}

h1, h2, h3, h4, h5, p, a, label, tr{
    color: #FFF2D9;
}

h1{
    text-align: center;
}

.btnBorderWhited{
    border: 1px solid white;
    border-radius: 5px;
}

input {
    border: 2px solid white;
    border-radius: 4px;
    background-color: #343A40;
    color: white;
}