html
    head
        title 404
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
    body
        include nav.pug
        h1 Erreur 404
        p.text-center Une erreur est survenue.
