html
    head
        title Administration
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
    body
        include nav.pug
        h1.mb-4 Admin
        table.table.w-50.mr-auto.ml-auto
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Pseudo
                    th(scope='col') Email
                    th(scope='col') Modifier
                    th(scope='col') Supprimer
            tbody
                each user in users
                    tr
                        th(scope='col')
                            = user.id
                        th(scope='col')
                            = user.username
                        th(scope='col')
                            = user.email
                        th(scope='col')
                            a.btn.btn-warning(href="/admin/" + user.id) Modifier
                        th(scope='col')
                            a.btn.btn-danger(href="/delete/" + user.id) Supprimer

