html
    head
        title Admin
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
    body
        include nav.pug
        h1.mb-4 Admin
        table.table.w-50.mr-auto.ml-auto
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Pseudo
                    th(scope='col') Email
            tbody
                tr
                    th(scope='col') 1
                    th(scope='col') usernameUsER7846
                    th(scope='col') emaileuzfhgizgf@gmail.com
                tr
                    th(scope='col') 2
                    th(scope='col') XxizejfifoixX12354
                    th(scope='col') eifjzoifzjef@gmail.com
