html
    head
        title Chat
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
    body
        include nav.pug
        h1 ExpandChat
        if (alert)
            div(class=(alert.success ? 'alert alert-success' : 'alert alert-danger'))
                .text-center=alert.message
        p.text-center Ici s'affichera le contenu du chat lorsque nous aurons les capacités pour le faire
