html
    head
        title Accueil
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
    body
        include nav.pug
        h1 Accueil
        p.text-center ExpandChat est un chat pour le fan de ?%§!!!%.?O???.////§/§../??
        p.text-center ///?./.?./§/§/.?/?.§/?/£¨£¨£%£§/§..N qui sera surement un plaisir pour des passionés comme ça.
        p.text-center Allô ?!
        p.text-center MAMAN LA CO BORDEL !
