html
    head
        title Sign In
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/bootstrap.min.css")
        link(rel="stylesheet", href="../css/style.css")
    body
        include nav.pug
        h1.mb-4 Sign In
        h4.text-center.mt-3.mb-3 Connectez vous !
        form(action="/signin", method="post").d-flex.flex-column.m-auto.w-75.justify-content-center
            div.d-flex.flex-column.mt-2.mb-2
                label.m-0 Pseudo*
                input(type="text" name="pseudo" id="pseudo" placeholder="PseudoAleatoire666" required=true)
            div.d-flex.flex-column.mt-2.mb2
                label.m-0 Mot de passe*
                input(type="password" name="password" placeholder="********" required=true)
            p.text-center.mt-2.mb-2 * : Champs obligatoires.
            input(type="submit", value="Valider").btn.btn-primary.mt-3.mb-3.w-auto.ml-auto.mr-auto